extends ../layout

block content
	.height-25

	.container.height-50
		.row
			.col-lg-6.col-lg-offset-3
				.panel.panel-default
					.panel-heading
						.panel-title Password Reset
					.panel-body
						form(action="/reset" method="post")
							.form-group
								label(for="email") Account Email
								input.form-control(name="email" type="text" placeholder="Enter email...")
							.form-group
								button.btn.btn-default.pull-right(type='submit') Reset Password

	.height-25