/*This selector makes sure that the content is aleays below the navabr and is not hidden by it*/
body {
    padding-top: 70px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.zero-margin-top {
    margin-top: 0px;
}