script(type="text/javascript",src="/javascripts/libs/jquery-2.1.1.js")
script(type="text/javascript",src="/javascripts/libs/bootstrap.js")
script(type="text/javascript",src="/javascripts/libs/angular.js")
script(type="text/javascript",src="/javascripts/libs/angular-ui-router.js")
script(type="text/javascript",src="/javascripts/libs/ui-bootstrap-0.11.0.js")
script(type="text/javascript",src="/javascripts/libs/ui-bootstrap-tpls-0.11.2.js")

script(type="text/javascript",src="/javascripts/admin/app.js")
script(type="text/javascript",src="/javascripts/admin/news_feed.js")