doctype html

html

	head
		title= title

		link(rel="stylesheet",href="/stylesheets/libs/bootstrap.css")

		block css

	body
		block content

		script(type="text/javascript",src="/javascripts/libs/jquery-2.1.1.js")
		script(typ="text/javascript",src="/javascripts/libs/bootstrap.js")
		block js