script(type="text/javascript",src="/javascripts/libs/jquery-2.1.1.js")
script(typ="text/javascript",src="/javascripts/libs/bootstrap.js")
script(type="text/javascript",src="/javascripts/libs/angular.js")

script(type="text/javascript",src="/javascripts/signup/app.js")
script(type="text/javascript",src="/javascripts/signup/controllers.js")
script(type="text/javascript",src="/javascripts/signup/factories.js")

