include ../../layout

block css
	include ./css

block js
	include ./js

block content
	//-This div and the ending div are used to center the login panel vertically
	.height-25

	.row.col-lg-6.col-lg-offset-3
		.panel.panel-default.height-50

			.panel-heading MyMartlet Admin Login

			.panel-body(ng-app="mymartlet.login",ng-controller="LoginController")

				form(role="form",name="loginForm")

					.form-group(ng-class="{true:'has-error'}[loginForm.email.$invalid&&submitted]")
						label Email Address
						input.form-control(type="email",ng-model="email",name="email",required,email)
						div(ng-show="loginForm.email.$invalid&&submitted")
							p.help-block(ng-show="loginForm.email.$error.required") This field is required
							p.help-block(ng-show="loginForm.email.$error.email") This field has to be a valid email address

					.form-group(ng-class="{true:'has-error'}[loginForm.email.$invalid&&submitted]")
						label Password
						input.form-control(type="password",ng-model="password",name="password",required)
						div(ng-show="loginForm.password.$invalid&&submitted")
							p.help-block(ng-show="loginForm.password.$error.required") This field is required

				div.has-error
					a.btn.btn-default.pull-right.margin-left(href="/signup") Signup
					button.btn.btn-default.pull-right(type="button",ng-click="loginButtonListener()") Login
					p.help-block.pull-left(ng-show="err.show") {{err.msg}}

	.height-25