extends ../../layout

block content
	h1 Your account is currently pending meaning that you cannot access the admin panel. Once your account permission had changed you will receive an email. For further information contact appvelopers@gmail.com.
	a(href="/logout") Click Here to Logout.

