include ../js

script(type="text/javascript",src="/javascripts/signup/app.js")
script(type="text/javascript",src="/javascripts/signup/controllers.js")
script(type="text/javascript",src="/javascripts/signup/factories.js")

